.page-header {
	position: relative;
	padding-top: 24px;
	padding-bottom: 25px;
	& .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.page-nav {
	display: flex;
}

.menu {
	display: flex;
	align-items: center;

	&__link {
		display: flex;
		align-items: center;
		margin-left: auto;
		font-weight: 500;
		line-height: 1.14;
		letter-spacing: 0.02em;
		color: var(--primery-text-color);
		transition: color var(--transithion-duration-function);

		&.contact {
			color: var(--secondary-text-color);
		}

		&:not(:last-child) {
			margin-right: 50px;
		}

		&:hover,
		&:focus {
			color: var(--accent-color);
		}
	}

	&__icon {
		margin-right: 10px;
		fill: currentColor;
	}
}

.menu__item:not(:last-child) {
	margin-right: 50px;
}
.menu__item .current {
	color: var(--accent-color);
	&::after {
		position: absolute;
		bottom: 0;
		display: block;
		cursor: auto;
		content: "";
		width: 48px;
		height: 4px;
		background-color: currentColor;
		border-radius: 2px;
	}
}

.border {
	border-top: 1px solid #ececec;
}
