.logo-black {
	color: black;
}

.logo-white {
	color: var(--third-text-color);
}

.logo {
	margin-right: 93px;
	font-family: "Raleway";
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
}
