@media screen and (max-width: 767px) {
	.clients {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;

		&__item {
			flex-basis: calc((100% - 30px) / 2);
			padding-top: 16px;
			padding-bottom: 16px;
			text-align: center;
			border-radius: 4px;
			border: 1px solid var(--fours-text-color);
		}

		&__link {
			margin-left: auto;
			margin-right: auto;

			width: 170px;
			height: 92px;
			fill: var(--fours-text-color);

			transition: fill var(--transithion-duration-function), border var(--transithion-duration-function);

			&:hover,
			&:focus {
				fill: var(--accent-color);
				border: 1px solid var(--accent-color);
			}
		}

		&__icon {
			width: 106px;
			height: 60px;
		}
	}
}

@media screen and (min-width: 768px) {
	.clients {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;

		&__item {
			flex-basis: calc((100% - 60px) / 3);
			padding-top: 16px;
			padding-bottom: 16px;
			text-align: center;
			border-radius: 4px;
			border: 1px solid var(--fours-text-color);
		}
		&__link {
			margin-left: auto;
			margin-right: auto;

			width: 170px;
			height: 92px;
			fill: var(--fours-text-color);

			transition: fill var(--transithion-duration-function), border var(--transithion-duration-function);

			&:hover,
			&:focus {
				fill: var(--accent-color);
				border: 1px solid var(--accent-color);
			}
		}

		&__icon {
			width: 106px;
			height: 60px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.clients {
		&__item {
			flex-basis: calc((100% - 150px) / 6);
		}
	}
}
