.hero {
	@extend %centrmargin;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/hero/hero.jpg");
	background-color: var(--secondary-backgraund-color);
	max-width: 1600px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
		screen and (min-resolution: 192dpi) and (min-width: 1200px),
		screen and (min-resolution: 2dppx) and (min-width: 1200px) {
		background-image: url("../images/hero/hero.jpg");
	}

	&__title {
		@extend %centrmargin;
		width: 696px;
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: var(--third-text-color);
	}
	&.btn {
		margin-top: 30px;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.06em;

		@include btn($pt: 10px, $pb: 10px, $pr: 32px, $pl: 32px);

		&:active {
			background-color: #188ce8;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
			border-radius: 4px;
		}
	}
}
