@media screen and (max-width: 767px) {
	.team {
		background-color: var(--third-backgraund-color);
		&.list {
			text-align: center;
		}

		&__item {
			background-color: var(--primery-backgraund-color);

			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
			border-radius: 0px 0px 4px 4px;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		&__man {
			padding-top: 30px;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.19;
			text-align: center;
		}
		&__title {
			margin-top: 10px;
			margin-bottom: 16px;
			font-size: 16px;
			line-height: 1.19;
			text-align: center;
			color: var(--secondary-text-color);
		}

		&__social {
			display: flex;
			gap: 10px;
			justify-content: center;
			margin: 0px;
			padding-bottom: 30px;
		}

		&__social-link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 44px;
			height: 44px;
			border-radius: 50%;

			fill: var(--fours-text-color);
			transition: fill var(--transithion-duration-function), background-color var(--transithion-duration-function);

			&:hover,
			&:focus {
				fill: var(--primery-backgraund-color);
				background-color: var(--accent-color);
			}
		}

		&__social-icon {
			width: 20px;
			height: 20px;
		}
	}
}

@media screen and (min-width: 768px) {
	.team {
		background-color: var(--third-backgraund-color);
		&.list {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
		}

		&__item {
			background-color: var(--primery-backgraund-color);
			flex-basis: calc((100% - 30px) / 2);
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
			border-radius: 0px 0px 4px 4px;
		}

		&__man {
			padding-top: 30px;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.19;
			text-align: center;
		}
		&__title {
			margin-top: 10px;
			margin-bottom: 16px;
			font-size: 16px;
			line-height: 1.19;
			text-align: center;
			color: var(--secondary-text-color);
		}

		&__social {
			display: flex;
			gap: 10px;
			justify-content: center;
			margin: 0px;
			padding-bottom: 30px;
		}

		&__social-link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 44px;
			height: 44px;
			border-radius: 50%;

			fill: var(--fours-text-color);
			transition: fill var(--transithion-duration-function), background-color var(--transithion-duration-function);

			&:hover,
			&:focus {
				fill: var(--primery-backgraund-color);
				background-color: var(--accent-color);
			}
		}

		&__social-icon {
			width: 20px;
			height: 20px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.team {
		&__item {
			flex-basis: calc((100% - 90px) / 4);
		}
	}
}
